@model dynamic

@{
    ViewBag.Title = "旬阳在线";
}

<div class="ad" style="width: 1001px;height: 68px;">广告位</div><div class="main header_content">
  <div class="header_content_1 fl">
      <ul class="list_erect">
                        <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:black;" >旬阳婚纱艺术摄影高端论坛</a></li>
                <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:#FF0000;" >旬阳婚纱艺术摄影高端论坛</a></li>
                <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:black;" >旬阳婚纱艺术摄影高端论坛</a></li>
                <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:blue;" >旬阳婚纱艺术摄影高端论坛</a></li>
                <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:#FF0000;" >旬阳婚纱艺术摄影高端论坛</a></li>
                 
    </ul><!--首页页头新闻左-->
  </div>
  <div class="header_content_2 fl">
    <div class="header_content_news mt10 overflow">
          <ul class="list_across">
                                     <li><a href="http://www.xunyangzaixian.com/" target="_blank"  style="" >旬阳在线</a></li>
                         <li><a href="http://www.xunyang.com.cn/" target="_blank"  style="" >旬阳政府网</a></li>
                         <li><a href="http://www.xunzhong.com/" target="_blank"  style="" >旬阳中学</a></li>
                         <li><a href="http://www.xunyangwang.com/" target="_blank"  style="" >旬阳网</a></li>
                         <li><a href="http://www.xyjj.gov.cn/" target="_blank"  style="" >旬阳党风廉政网</a></li>
                         <li><a href="http://tieba.baidu.com/f?kw=%D1%AE%D1%F4&fr=ala0" target="_blank"  style="" >旬阳吧</a></li>
                        	      </ul><!--首页页头新闻上-->
    </div>
	<div class="clearfloat"></div>
    <div class="header_content_banner overflow ad" style="width: 638px;height: 98px;">广告位</div>
	<div class="clearfloat"></div>
    
  </div>
  <div class="header_content_3 fr">
    <ul class="list_erect">
                                    <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:#FF0000;" >旬阳婚纱艺术摄影高端论坛</a></li>
                        <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:black;" >旬阳婚纱艺术摄影高端论坛</a></li>
                        <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:#FF0000;" >旬阳婚纱艺术摄影高端论坛</a></li>
                        <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:blue;" >旬阳婚纱艺术摄影高端论坛</a></li>
                        <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color:#FF0000;" >旬阳婚纱艺术摄影高端论坛</a></li>
                        	      </ul><!--首页页头新闻右-->
  </div>
</div>
