@model dynamic

@{
    ViewBag.Title = "旬阳在线";
}

<div class="ad" style="width: 1001px; height: 68px;line-height: 68px;">广告位</div>

<div class="main header_content">
    <div class="header_content_1 fl">
        <ul class="list_erect">
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: blue;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">旬阳婚纱艺术摄影高端论坛</a></li>

        </ul>
        <!--首页页头新闻左-->
    </div>
    <div class="header_content_2 fl">
        <div class="header_content_news mt10 overflow">
            <ul class="list_across">
                <li><a href="http://www.xunyangzaixian.com/" target="_blank" style="">旬阳在线</a></li>
                <li><a href="http://www.xunyang.com.cn/" target="_blank" style="">旬阳政府网</a></li>
                <li><a href="http://www.xunzhong.com/" target="_blank" style="">旬阳中学</a></li>
                <li><a href="http://www.xunyangwang.com/" target="_blank" style="">旬阳网</a></li>
                <li><a href="http://www.xyjj.gov.cn/" target="_blank" style="">旬阳党风廉政网</a></li>
                <li><a href="http://tieba.baidu.com/f?kw=%D1%AE%D1%F4&fr=ala0" target="_blank" style="">旬阳吧</a></li>
            </ul>
            <!--首页页头新闻上-->
        </div>
        <div class="clearfloat"></div>
        <div class="header_content_banner overflow ad" style="width: 638px; height: 98px;line-height: 98px;">广告位</div>
        <div class="clearfloat"></div>

    </div>
    <div class="header_content_3 fr">
        <ul class="list_erect">
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: black;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: blue;">旬阳婚纱艺术摄影高端论坛</a></li>
            <li><a href="http://www.xunyangzaixian.com/wed/news-2554.html" target="_blank" style="color: #FF0000;">旬阳婚纱艺术摄影高端论坛</a></li>
        </ul>
        <!--首页页头新闻右-->
    </div>
</div>
<div class="clearfloat"></div>
@*主题内容开始*@
<div class="main overflow">
    <!--广告位1开始-->
    <div class="gg1 bord2 overflow ad" style="width: 1000px; height: 79px; line-height: 79px;">
        广告位
    </div>
    <div class="clearfloat"></div>
    @*    广告位结束*@
    <!--大头条开始-->
  <div class="tt bord3 mt10">
    <div>            			<a href="#" target="_blank"><img src="" width="900" height="70" /></a>
                        </div>
  </div>
  <!--大头条结束-->    
    <!--第一部分开始-->
  <div class="yx_1 bord4 overflow">
    <div class="yx_1_l text-c mt8 fl">
	  <div class="show_box"> 
			     	     <div class="showpic" >
		     <a href="#" target="_blank" title="滚动图片1"><img src="" width="545" height="315" alt="滚动图片1" /></a>
		     <div class="mask"></div>
		     <div class="linkbox"><a href="#" target="_blank" title="滚动图片1">滚动图片1</a></div>
	     </div>
	     	     <div class="showpic" style="display:none;">
		     <a href="#" target="_blank" title="滚动图片2"><img src="" width="545" height="315" alt="滚动图片2" /></a>
		     <div class="mask"></div>
		     <div class="linkbox"><a href="http://www.yxol.net/html/201409/06/61116.shtml" target="_blank" title="滚动图片2">滚动图片2</a></div>
	     </div>
	     	     <div class="showpic" style="display:none;">
		     <a href="#" target="_blank" title="滚动图片3"><img src="" width="545" height="315" alt="滚动图片3" /></a>
		     <div class="mask"></div>
		     <div class="linkbox"><a href="#" target="_blank" title="滚动图片3">滚动图片3</a></div>
	     </div>
	     	     <div class="showpic" style="display:none;">
		     <a href="#" target="_blank" title="滚动图片4"><img src="" width="545" height="315" alt="滚动图片4" /></a>
		     <div class="mask"></div>
		     <div class="linkbox"><a href="#" target="_blank" title="滚动图片4">滚动图片4</a></div>
	     </div>
	     	     <div class="showpic" style="display:none;">
		     <a href="#" target="_blank" title="滚动图片5"><img src="" width="545" height="315" alt="滚动图片5" /></a>
		     <div class="mask"></div>
		     <div class="linkbox"><a href="#" target="_blank" title="滚动图片5">滚动图片5</a></div>
	     </div>
	     	     <div class="showpic" style="display:none;">
		     <a href="#" target="_blank" title="滚动图片6"><img src="" width="545" height="315" alt="滚动图片6" /></a>
		     <div class="mask"></div>
		     <div class="linkbox"><a href="#" target="_blank" title="滚动图片6">滚动图片6</a></div>
	     </div>
	     	           <div class="showtab"><a href="#" target="_blank" class="on">1</a><a href="#" target="_blank" >2</a><a href="#" target="_blank" >3</a><a href="#" target="_blank" >4</a><a href="#" target="_blank" >5</a><a href="#" target="_blank" >6</a></div>
	  </div>
        <script src="~/Scripts/neww-Marquee.js"></script>
    </div>

    <div class="yx_1_r bord5 mt8 mr8 mb8 fr">
      <div class="yx_1_r_1" style="margin-top: 15px;">

                        <div class="yx_1_r_t text-c"><a title="旬阳县368名村医接受疾控业务大培训"  href="#" target="_blank">旬阳县368名村医接受疾控业务大培训</a></div>
        <div class="yx_1_r_c">　　<a href="#" target="_blank">9月25日，来自旬阳县282个村（社区）的368名村医齐聚旬阳县文化中心主会场接受疾病预防控制业务大培训。</a>……<a href="#" target="_blank">【详细】</a></div>
                      </div>

      <div class="yx_1_r_2">
                        <div class="yx_1_r_t text-c"><a href="#" target="_blank">旬阳县368名村医接受疾控业务大培训</a></div>
        <div class="yx_1_r_c">　　<a href="#" target="_blank">9月25日，来自旬阳县282个村（社区）的368名村医齐聚旬阳县文化中心主会场接受疾病预防控制业务大培训。</a>……<a href="#" target="_blank">【详细】</a></div>
                      </div>

      <div class="yx_1_r_3" style="margin-bottom: 15px;">
                        <div class="yx_1_r_t text-c"><a href="#" target="_blank">旬阳县368名村医接受疾控业务大培训 </a></div>
        <div class="yx_1_r_c">　　<a href="#" target="_blank">9月25日，来自旬阳县282个村（社区）的368名村医齐聚旬阳县文化中心主会场接受疾病预防控制业务大培训。</a>……<a href="#" target="_blank">【详细】</a></div>
                      </div>
@*      <div class="yx_1_r_4 text-c"><!--<a href="/html/news/newtop/" target="_blank"><img src="http://www.yxol.net/statics/images/yunxi/12.jpg" width="128" height="29" /></a>-->        <span style="color:#0272e4;"><a href="http://www.syzyz.org/index.php?m=wish&c=cindex&a=init" target="_blank">十堰 郧西微心愿平台 </sapn></a></div>*@
    </div>
  </div>
  <div class="clearfloat"></div>
  <!--第一部分结束--> <!--ad4广告开始--> 

</div>






